
<%= render 'layouts/flash' %>
<div class="main-text">
	<div class="title" style="font-size: 36px" >
	     <div style="text-align: left;">
	          <span>welcome to<span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers !!</span>
	     </div>
	</div>


	<div class="text-list" style="text-align: left;">
	    <p>In <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers,<br>you can share and exchange your opinions , inpressions , and emotions,<br>about various books!</p>
	    
	    <%= link_to "Log in", new_user_session_path, class: "btn btn-info btn-sm btn-block" %>
	    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-sm btn-block" %>
	</div>
</div>